<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949002215119-uvksdftcln6ek7guua0qtbi87t5melv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949002215119-uvksdftcln6ek7guua0qtbi87t5melv0</string>
	<key>API_KEY</key>
	<string>AIzaSyBMDllxUJGCzcquG6maS1XgYVYpSWXgLKk</string>
	<key>GCM_SENDER_ID</key>
	<string>949002215119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tanvm.Travelify</string>
	<key>PROJECT_ID</key>
	<string>travelify-7c07c</string>
	<key>STORAGE_BUCKET</key>
	<string>travelify-7c07c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949002215119:ios:14cf9458f9a425978121ba</string>
	<key>DATABASE_URL</key>
	<string>https://travelify-7c07c-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>